* {
      margin: 0;
      padding: 0;
}

.btn-start {
      color: rgb(53, 53, 53);
      border: 1px solid rgb(53, 53, 53);
      background-color: white;
      opacity: 0.6;
      font-size: 24px;
      height: 60px;
      width: 450px;
      border-radius: 10px;
      padding: 20px 5px 50px 5px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: width 1s, height 1s, font-size 1s, border 1s, color 1s;
}

.btn-start:hover {
      opacity: 1;
      width: 550px;
      height: 85px;
      font-size: 30px;
      color: rgb(142, 142, 255);
      border: 2px solid rgb(142, 142, 255);
}

.slide {
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      user-select: none;
      transition: opacity 1s;
}

.slide .opacity {
      opacity: 1;
}

.hide {
      opacity: 0;
}

.slide div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}

span {
      position: absolute;
      left: 50%;
      top: 60%;
      margin-top: 20px;
      transform: translate(-50%, -50%);
}